[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pytest = "*"
requests = "*"
docker = "*"
docker-compose = "*"
pre-commit = "*"
black = "*"
alembic = "*"
databases = "*"
aiosqlite = "*"
httpx = "*"
trio = "*"

[dev-packages]

[requires]
python_version = "3.10"
